.filter-wrapper{
    
    .filter-title{
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: var(--color-1c1c1b);
    }

    .sub-title{
        font-size: 14px;
        font-weight: 600;
        color: var(--color-1c1c1b);
        margin-bottom: 15px;
        margin-top: 15px;
    }
    
    ul, .form-check-label{
        list-style-type: none;
        font-size: 13px;
        line-height: 30px;
       color: var(--color-777777);
       cursor: pointer;
    }

    .form-check-input{
        &:focus{
            box-shadow: none;
            border-color: rgba(0, 0, 0, 0.25);
        }

        &:checked{
            background-color: var(--color-febd69);
            border-color: var(--color-febd69);
        }
    }

}